<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public\css\styles.css">
    <title>Compose</title>
</head>
<body>
    <%- include("partials/header") -%>
    <h1>Compose</h1>
    <form action="/compose" method="POST" >
        <div class="text1">Title</div>
        <input type="text" name="txtOne" class="tx1">
        <br>
        <div class="textarea">Post</div>
        <textarea name="postBody" id="" cols="30" rows="5" class="txtarea"></textarea>
        <br>
        <button type="submit"> Publish</button>
    </form>
    <%- include("partials/footer") -%>
    
</body>
</html>